.posts {
    padding: 22px 0 32px;
    background: url(/assets/images/bg-posts.jpg) no-repeat center top / cover;
}

.posts-title {
    font-size: 22px;
}

.posts-link {
    color: #00A8CC;

    &:hover {
        text-decoration: underline;
    }
}

.post {
    padding: 23px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    margin-top: 22px;
}

.post__wrapper {
    display: flex;
    gap: 26px;
    margin: 17px 0 11px;
}

.posts-title {
    color: #fff;
}