.works {
    padding: 22px 0 83px;
}

.works-link-img {
    width: 100%;
    border-radius: 6px;
}

.work-info__wrapper {
    margin: 16px 0;
}

.work-info__date {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    padding: 3px 10px;
    background-color: #142850;
    text-align: center;
    border-radius: 16px;
    display: inline-flex;
    margin-right: 22px;
}

.work-info__theme {
    color: #8695A4;
    font-size: 20px;
}

.bottom-line {
    padding-bottom: 32px;
    margin-top: 32px;
    border-bottom: 1px solid #E0E0E0;
}
